<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="BD" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_Krystal_App;User ID=sa;Password=R3g1na1207"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>